/* === Hero sekce === */
.hero {
  background: var(--color-primary);
  color: white;
  min-height: 20vh;
  padding: 60px 20px;
  text-align: center;
}

.hero-text h1 {

  margin: 0 auto;
  max-width: 90%;
}

/* === Nabídka sekce === */
.nabidka {
  padding: 50px 20px 0px 20px;
}

.uvod-wrap {
  margin-bottom: 30px;
}

.uvod-h2 {
  margin-bottom: 10px;
  color: var(--color-primary);
}

.uvod-text {

  line-height: 1.6;
  color: var(--color-text);
}

/* === Cards === */
.cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  box-shadow: 2px 6px 18px rgba(76, 74, 74, 0.15),
    0px 2px 4px rgba(0, 0, 0, 0.05);
}

.card-h3 {

  margin-bottom: 10px;
  color: var(--color-primary);
}

.card-text {

  color: var(--color-text);
}

.points {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.number {
  font-weight: bold;
  font-size: 18px;
}

.line img {
  width: 2px;
}

.point-text {

  line-height: 1.4;
}

.button-wrapper {
  margin-top: 30px;
}

.button-primary {
  background: var(--color-secondary);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease;
}

.button-primary:hover {
  background: var(--color-primary);
  transform: translateY(-3px);
}


.picsHome {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transform: none;
  transition: none;
}

.pic1,
.pic2 {
  display: none;
  /* Skrytí prvních dvou obrázků na mobilu */
}

.pic3 {
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;
  display: block;
  border-radius: 0px;
}

/* === Sekce Zkušenosti === */
.zkusenosti {
  padding: 50px 20px 0 20px;
}

.quote-wrap {
  margin: 30px 0;
  display: flex;
  align-items: start;
  gap: 20px;
}

.quoteMarks {
  width: 32px;
  margin-bottom: 10px;
}

.quotation {
  font-style: italic;

}

.quote-name {
  font-weight: bold;
  margin-top: 10px;
}

.zkusenostiPic {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all .2s;
  outline-offset: 1rem;
}

.zkusenostiPic:hover {
  outline: 0.4rem solid var(--color-secondary);
  transform: scale(1.05) translateY(-.5rem);
  z-index: 20;
}



.grid-centre {
  text-align: center;
  flex: 1;
}


/* === CTA sekce === */
.CTA {
  background: var(--color-primary);
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  padding: 0;
}

.gridCTA {
  display: block;
}

.ctaPic {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-rightCTA {
  padding: 20px 20px 20px 40px;
  height: 200px;
  display: flex;
  align-items: center;
}

.konference {
  margin-top: 0;
}

.CTAbutton:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-secondary);
  transform: translateY(-3px);
}


/* ========================================= */
/* ========== MEDIA QUERY DESKTOP ========= */
/* ========================================= */
@media (min-width: 768px) {

  .nabidka {
    padding: 100px 40px 0px 40px;
  }

  .cards {
    flex-direction: row;
    gap: 30px;
    margin: 80px auto 100px auto;
  }

  .card {
    flex: 1;
  }

  .pictures-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    /* <<< důležité */

  }

  .line img {
    width: 3px;
  }

  .picsHome {
    max-width: 55%;
    position: absolute;
    z-index: 10;
    padding: 5px;
    opacity: 0;
    transform: translateY(100px) scale(0.8);
    /* ➡️ větší počáteční odskok */
    transition: all 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    /* ➡️ plynulejší, elegantní */
  }

  .pic1,
  .pic2,
  .pic3 {
    display: block;

  }

  .pic1 {
    left: 2rem;
    top: -10rem;
  }

  .pic2 {
    right: 5rem;
    top: 2rem;
  }

  .pic3 {
    left: 2rem;
    top: 15rem;
    border-radius: 8px;
  }



  /* === Finální stav po scrollu === */
  .pictures-wrapper.visible .pic1 {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition-delay: 0.1s;
    /* první obrázek rychleji */
  }

  .pictures-wrapper.visible .pic2 {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition-delay: 0.4s;
    /* druhý obrázek trochu později */
  }

  .pictures-wrapper.visible .pic3 {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition-delay: 0.7s;
    /* třetí obrázek naposledy */
  }

  .zkusenosti {
    padding: 100px 40px 0px 40px;
  }

  .zkusenostiPic {
    max-width: 500px;
  }

  .quote-wrap {
    margin-top: 60px;
  }

  .gridCTA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid-leftCTA {
    width: 100%;
  }

  .ctaPic {
    width: 100%;
    height: 100%;
  }

  .grid-rightCTA {
    padding: 20px 20px 20px 40px;
    height: auto;
    display: flex;
    align-items: center;
  }

  .cta-wrap {
    align-items: flex-start;
    text-align: left;
  }
}
